\.idea/
*.iml
/.apt_generated/
/.settings/
.classpath
.factorypath
.project
/.target/
/logs/
/bin/
*.imp
/.idea
.vscode/
/.vscode/
target/
/.tern-project
\.settings/
\.gradle/
out/

Jenkins.groovy
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/centilliard.io.fipm/logs/
/interact.soap.api/target/
/interact.soap.adapter/target/
/interact.soap.jca/target/
/interact.soap.lib/target/
/eclipse.restclient.api/target/
/eclipse.restclient.adapter/target/
/eclipse.restclient.jca/target/
logs/exception.log
logs/fipm.log
logs/fips-app.log
